* {
  margin: 0;
  padding: 0;
  font-family: cursive;
  box-sizing: border-box;
}

.container {
  width: 100%;
  min-height: 100vh;
  /* background: linear-gradient(135deg, #2b313d, #4e085f); */
  background-color: #eee3da;
  /* background-color: #f0ecec; */
  background-image: linear-gradient(45deg,
      #efefef 25%,
      rgba(239, 239, 239, 0) 25%,
      rgba(239, 239, 239, 0) 75%,
      #efefef 75%,
      #efefef),
    linear-gradient(45deg,
      #efefef 25%,
      rgba(239, 239, 239, 0) 25%,
      rgba(239, 239, 239, 0) 75%,
      #efefef 75%,
      #efefef);
  padding: 10px;
}

.todo-app {
  width: 100%;
  max-width: 500px;
  background: #fff;
  margin: 80px auto 20px;
  padding: 40px 30px 30px;
  border-radius: 15px;
}

.todo-app h2 {
  color: #866565;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-family: cursive;
}

.list-icon {
  width: 30px;
  margin-left: 10px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #edeef0;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
  width: 27rem;
}

input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
}

#input-box {
  font-size: 17px;
  font-weight: 543;
  color: black;
}

.list-add-button {
  border: none;
  outline: none;
  background: #ff5945;
  color: #fff;
  font-size: 16px;
  padding: 16px 48px;
  cursor: pointer;
  border-radius: 40px;
  font-weight: 400;
}

.list-add-button:hover {
  background: rgb(223, 51, 32);
}

ul li {
  list-style: none;
  font-size: 18px;
  padding: 17px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
  color: #7a7f8a;
  font-weight: lighter;
}

ul li::before {
  content: "";
  position: absolute;
  height: 22px;
  width: 22px;
  border: 50%;
  background-image: url(images/circle.png);
  background-size: cover;
  background-position: center;
  top: 17px;
  left: 8px;
}

ul li.checked {
  color: #555;
  text-decoration: line-through;
}

ul li.checked::before {
  background-image: url(images/checked.png);
}

ul li span {
  position: absolute;
  right: 0;
  top: 8px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: #555;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
}

ul li span:hover {
  background: #edeef0;
}

.dino-pic {
  width: 9rem;
  position: relative;
  left: 20rem;
  top: 0.5rem;
}

.search-bar {
  display: flex;
  /* background-color: rgb(187, 182, 182); */
  align-items: center;
  width: 14rem;
  height: 2rem;
  justify-content: space-around;
  margin-left: 13.5rem;
  margin-top: -11px;
  border-radius: 2rem;
  border-bottom: 0.1rem solid rgb(175, 175, 175);
}

.search-bar input {
  border: none;
}

.search-color {
  color: grey;
}

/* 
<============================================================>
                  Responsive Media Queries 
<============================================================>
*/
@media only screen and (max-width: 540px) {
  .todo-app {
    width: 90%;
  }

  .row {
    width: 25rem;
  }

  .list-add-button {
    padding: 16px 32px;
  }

  .dino-pic {
    left: 15rem;
  }
}

@media only screen and (max-width: 520px) {
  .todo-app {
    width: 85%;
  }

  .row {
    width: 20rem;
  }

  .dino-pic {
    left: 12rem;
  }
}

@media only screen and (max-width: 480px) {
  .todo-app {
    width: 80%;
  }

  .row {
    width: 19rem;
  }

  .list-add-button {
    padding: 16px;
  }


  .dino-pic {
    left: 10rem;
  }
}

@media only screen and (max-width: 460px) {
  .row {
    width: 17rem;
  }

  .list-add-button {
    margin-left: -10px;
    padding: 14px;
  }
}

@media only screen and (max-width: 448px) {
  .row {
    width: 15rem;
  }

  .list-add-button {
    margin-left: -40px;
  }

  .dino-pic {
    left: 8rem;
  }
}

@media only screen and (max-width: 410px) {
  .list-add-button {
    margin-left: -100px;
    padding: 14px;
  }

  .dino-pic {
    left: 6rem;
  }
}